.restoreMnemonic {
  @apply w-full h-full flex flex-col items-center gap-6 text-base p-4 pb-0;
}

.phrase {
  @apply grid grid-cols-2 text-sm;
}

.stepTitle {
  @apply flex justify-between w-1/2;
}

.active {
  @apply text-orange-400;
}

.word {
  @apply flex justify-between items-center p-2.5 gap-2;

  .wordInput {
    @apply w-4/5;
  }
}

.continueWrapper {
  @apply w-full flex justify-between pt-4 pb-2 flex-col;
}

.step {
  @apply h-full w-full flex flex-col justify-between;
}

.input {
  @apply py-1;
}
