.btn {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  border-radius: 40%;
  padding: 0.5rem 0.8rem;
}

.active {
  background-color: rgba(100, 100, 190, 0.9);
  color: white;
}

.arrow {
  border: none;
  background: none;
}

.pagination {
  display: flex;
  gap: 0.4rem;
}
