.pagination {
  @apply w-full flex justify-evenly;
}

.gridContainer {
  @apply grid grid-cols-2 grid-rows-3 text-base w-full gap-3 pb-2;
}

.input {
  @apply py-1 pl-5 pr-10 text-base text-text bg-input-bg rounded-xl standard:bg-bg w-full;
}

.inscriptionDiv {
  @apply w-full h-full flex flex-col justify-start px-4 standard:px-6 relative items-center;
}
