.send {
  @apply items-start w-full h-full p-4;
}

.sendBtn {
  @apply absolute left-6 right-6 bottom-6;
}

.inputs {
  @apply w-full flex flex-col justify-center items-center gap-8;
}

.feeDiv {
  @apply w-full flex flex-col items-start justify-start gap-2;

  .includeFeeInAmountDiv {
    @apply flex gap-2 mt-2 select-none;

    >* {
      @apply cursor-pointer;
    }
  }
}

.maxAmount {
  @apply text-xs bg-gray-700 rounded-xl px-3 py-1 cursor-pointer flex items-center justify-center;
}