.walletDiv {
  @apply w-full h-full pt-4 flex flex-col justify-start max-standard:h-screen px-4 standard:px-6 relative;

  .accPanel {
    @apply flex flex-col mt-4 gap-5 pb-2;

    * {
      @apply m-0;
    }

    .balance {
      @apply flex text-3xl gap-1 items-end cursor-default;
    }

    .accPubAddress {
      @apply gap-2 cursor-pointer flex;

      color: rgb(158, 158, 158);
    }

    .receiveSendBtns {
      @apply w-full gap-3 flex items-center justify-between;

      .btn {
        @apply border transition-colors text-base py-1.5 rounded-xl text-center duration-100 font-medium;

        .icon {
          @apply w-6;
        }
      }
    }
  }
}

.center {
  @apply rounded-xl flex justify-center items-center;
}

.transactions {
  @apply text-sm uppercase tracking-widest mt-5 mb-0.5 font-medium select-none px-2;
}

.transactionsDiv {
  @apply max-h-full flex flex-col items-center overflow-y-auto pt-2;
}

.transaction {
  @apply flex justify-between items-center w-full p-2 rounded-sm my-1 cursor-pointer;
}

.noTransactions {
  @apply w-full h-full items-center flex justify-center py-16;
}

.value {
  @apply font-medium text-lg;
}

.accountsIcon {
  @apply w-8 h-8 rounded-xl p-1 border border-text transition-colors hover:bg-text hover:text-bg cursor-pointer;
}

.change {
  @apply font-medium text-sm;
}

.gridContainer {
  @apply grid grid-cols-2 text-base w-full gap-3 py-2 overflow-y-auto;
}

.inscriptionButton {
  @apply absolute bottom-0 right-0 w-12 h-12 rounded-full bg-input-bg m-6 flex justify-center items-center cursor-pointer;
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg) saturate(20%);
  }
  100% {
    filter: hue-rotate(360deg) saturate(20%);
  }
}

.nftImage {
  animation: hueRotate 10s infinite linear;
}
