.container {
  @apply text-sm flex-col h-full flex justify-between items-center px-6 w-full pb-3;
}

.btn {
  @apply bg-text text-bg rounded-xl w-full py-2 border-none font-medium text-sm text-center;

  &Container {
    @apply flex items-center gap-3 w-full;

    > * {
      @apply px-0 w-full;
    }
  }
}

.result {
  @apply text-center font-medium text-base;

  &Container {
    @apply flex flex-col gap-4 justify-center mb-16 mt-36;
  }

  &Icon {
    &Container {
      @apply rounded-full bg-gradient-to-tr from-green-500 to-emerald-400;
    }

    @apply w-28 h-28 text-bg p-3;
  }
}
